* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 35px;
  }
  
  .btn {
    width: 120px;
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0;
    color: lightgrey;
  }
  
  .menu {
    display: flex;
    align-items: flex-end;
  }
  
  .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 0;
    background-color: rgb(177, 17, 17);
  }
  
  .container {
    display: table;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .row {
    display: table-row;
  }
  
  .cell {
    display: table-cell;
    width: var(--length);
    height: var(--length);
    cursor: pointer;
  }
  
  .pixlate {
    border: 1px solid rgb(138, 138, 138);
  }
  
  input[type="color"] {
    height: 30px;
    border-radius: 3px;
    padding: 0 2px;
  }